@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: rgb(15, 14, 14);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 19, 19);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 67);
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(242, 238, 238, 0.4);
  border-bottom: 2px solid rgba(252, 248, 248, 0.4);
}